<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>864184064368-fognqpnceghk0u4vjbn5lvog4d1s2n20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864184064368-fognqpnceghk0u4vjbn5lvog4d1s2n20</string>
	<key>API_KEY</key>
	<string>AIzaSyAwfxBriwV7E9-lhqzHRLGcd8fUG66x9DQ</string>
	<key>GCM_SENDER_ID</key>
	<string>864184064368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>David-Brown.ixChat</string>
	<key>PROJECT_ID</key>
	<string>ixchat-e7cb3</string>
	<key>STORAGE_BUCKET</key>
	<string>ixchat-e7cb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:864184064368:ios:2887a4abea3aed4f</string>
	<key>DATABASE_URL</key>
	<string>https://ixchat-e7cb3.firebaseio.com</string>
</dict>
</plist>
